/**Aqui empiezan mis estilos (Melisa)*/
body {
    background-color: #111;
    color: #fff;
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
    color: #7b1e23;
}

form {
    background: #fff;
    color: #000;
    width: 420px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #7b1e23;
    border-radius: 4px;
}

textarea {
    height: 80px;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: #7b1e23;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #5f161a;
}

.check {
    margin-top: 10px;
}
/**Aqui terminan mis estilos (Melisa)*/
